<%= form_tag '/guess_result', method: :post do %>
  <label for='number'> Guess a number! </label><input type='text' name='guess_input' id='number' value='put it in me'>

  <input type="submit" value="Push me.">

<% end %>